.email,
.phone,
.address {
    padding: 1rem;
}



.col-md-4 {
    padding: 1rem;
}



.social-links a {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #212431;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



.social-links {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    text-align: center;
}



.fa-twitter {
    padding-right: 8px;
}

.fa-instagram {
    padding-right: 8px;
}

.fa-facebook {
    padding-right: 8px;
}