.row {
    margin-left: 40px;
}

.col-md-4 {
    padding: 1rem;
}

.social-links a {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #212431;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card {
    border: 0 !important;
    text-align: center;
}

.card-footer {
    background-color: #fff !important;
    border-top: 0 !important;
    text-align: center;
    font-size: xx-large;
}


.fa-twitter {
    padding-right: 8px;
}

.fa-instagram {
    padding-right: 8px;
}

.fa-facebook {
    padding-right: 8px;
}