header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  font-size: medium;
  color: #d4ab9f;
  height: 55px;
}

header h1 {
  margin-left: 10px;
  font-size: xx-large;
}

#home,
#main,
#contact {
  text-decoration: none;
  color: #6c757d;
  font-size: large;
}

/* .bt {
  font-size: large;
  color: #d4ab9f;
} */

#home:hover,
#main:hover,
#contact:hover {
  text-decoration: underline;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-bar div,
.nav-bar nav,
.nav-bar nav * {
  margin-right: 20px;
}

.nav-bar div:last-child {
  margin-right: 10px;
}

#logo {
  margin-left: 2%;
}
