header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(240, 194, 201);
    font-size: medium;
    color: blueviolet;
    height: 55px;
}

header h1 {
    margin-left: 10px;
    font-size: xx-large;
}

#home,
#main,
#contact {
    color: black;
    text-decoration: none;
    color: blueviolet;
    font-size: large;
}


.bt {
    font-size: large;
    color: blueviolet;
}

#home:hover,
#main:hover,
#contact:hover {
    text-decoration: underline;

}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-bar div,
.nav-bar nav,
.nav-bar nav * {
    margin-right: 20px;
}

.nav-bar div:last-child {
    margin-right: 10px;
}

#logo {
    margin-left: 2%;
}