.welcome {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  position: relative;
  background-size: cover;
  background-image: url(../assets/images/welcome_image.jpg);
}

#discover {
  padding-top: 300px;
  text-align: center;
  color: #f2f2f2;
}

#description {
  margin: 0 50px;
  color: #6c757d;
}

#search {
  display: block;
  margin: 30px auto;
  padding: 10px;
}

#brandsHeader {
  text-align: center;
  display: block;
  margin: 30px auto;
  color: #d4ab9f;
}

section {
  display: flex;
}

.carImg {
  height: 400px;
  margin: 0 auto;
}

.carouselItem {
  display: block;
  margin: 0 auto;
}

section {
  background-color: #f2f2f2;
}
#carBrand {
  /* margin: 0 100px; */
  /* background-color: #a5a2ab; */
  margin: 0 auto;
}
