.welcome {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  position: relative;
  background-size: cover;
  background-image: url(../assets/images/welcome_image.jpg);
}

#discover {
  padding-top: 300px;
  text-align: center;
}

#description {
  margin: 0 50px;
}

#search {
  display: block;
  margin: 40px auto;
  padding: 10px;
}

#check {
  text-align: center;
  display: block;
  margin: 30px auto;
}

section {
  display: flex;
}

/* section .product div {
  padding: 10px 20px;
  text-align: center;
}

section .product {
  margin: 0 20px 20px;
}

section img {
  width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
} */
