.layout {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 3.6rem);
}


.side-bar {
    width: 15%;
    border-right: 1px solid #e2e2e2;
    background-color: #f2f2f2;
}

.product-body {
    width: 85%;
}

.side-bar,
.product-body {
    overflow-y: auto;
    overflow-x: hidden;
}